<%# Content Heading %>
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
} %>

<%# messages() %>
<%- grid %>

<div class="addInvent">
  <h2>Vehicle Reviews</h2>
  <% if (locals.loggedin){ %>
    <form action="/inv/add-review" method="post">
      <div class="input-field">
        <label for="review_text">Review Text:</label>
        <textarea name="review_text" id="review_text" required><%= locals.review_text %></textarea>
      </div>
      <div>
        <button class="addvehicle">Submit Review</button>
      </div>
      <input type="hidden" name="inv_id" <% if(locals.inv_id) { %> value="<%= locals.inv_id %>" <% } %>>
      <input type="hidden" name="account_id" <% if(locals.account_id) { %> value="<%= locals.account_id %>" <% } %>>
    
    </form>
  <% } else { %>
       <p>Please <a href="/account/login">Log IN</a> to add a review</p>
  <% } %>
</div>